<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Rambla:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Auteur</title>
</head>
<body>
<div th:replace="menu :: menu"></div>
<div class="l-container">
    <h2>Information sur l'Auteur</h2>
    <table>
        <tr>
            <th>Nom</th>
            <td th:text="${author.name}"></td>
        </tr>
        <tr>
            <th>Biographie</th>
            <td th:text="${author.biography}"></td>
        </tr>
        <tr>
            <th>Date de Naissance</th>
            <td th:text="${#dates.format(author.birthDate, 'dd/MM/yyyy')}"></td>
        </tr>
        <tr th:if="${author.deathDate != null}">
            <th>Date de Mort</th>
            <td th:text="${#dates.format(author.deathDate, 'dd/MM/yyyy')}"></td>
        </tr>
    </table>

    <h2 th:if="${books != null}">Livre Écris</h2>
    <table class="large_table">
        <tr>
            <th>Nom</th>
            <th>Date de Parution</th>
            <th>Référence</th>
            <th>Statut</th>
        </tr>
        <th:block th:each="book: ${books}">
            <tr>
                <td><a th:href="@{'/books/'+${book.id}}" th:text="${book.name}"></a></td>
                <td th:text="${#dates.format(book.releaseDate, 'dd/MM/yyyy')}"></td>
                <td th:text="${book.bookReference}"></td>
                <td th:if="${book.available}" class="book_available green">Disponible</td>
                <td th:unless="${book.available}" class="book_no_available red">Indisponible</td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>